@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
  --background: #f2f2f2;
  --foreground: #212121;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
.decorated option:hover {
  background-color: #888;
}
body > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.orange {
  color: #de742e;
}
.borderOrange {
  border-color: #de742e;
}
.bgImageDescription {
  background-image: url("../../public/background.png");
  opacity: 0.2;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bgBlue {
  background-color: #2196f3;
}
.slick-next:before,
.slick-prev:before {
  color: #de742e;
}
.slick-slide > div {
  display: grid;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
